@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

li {
	list-style: none;
}

body {
	font-family: "맑은 고딕";
	overflow-x: hidden;
}

.locationBox {
	margin: 0 auto;
	width: 1440px;
	height: 30px;
	background: url("../img/bg_location.jpg") no-repeat center bottom;
}

.location {
	margin: 0 auto;
	color: #333;
	font-size: 11px;
	width: 956px;
	height: 25px;
	border: 1px solid white;
}

.location ul {
	margin-top: 7px;
}

.location ul li {
	float: left;
}

.location ul li:nth-child(3) {
	color: #999;
}

#containerBox {
	width: 1440px;
	height: 100%;
	background: url("../img/bg_body1_1.jpg") repeat-x center -10px;
	margin: 0 auto;
}

#skipct {
	width: 956px;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

#skipct h3 {
	font-size: 24px;
	color: #010101;
	font-weight: normal;
	line-height: 28px;
	width: 725px;
	height: 28px;
	margin: 20px 0 44px 10px;
}

#skipct .rv_stepBox {
	width: 964px;
	margin: 0 auto 10px auto;
	font-size: 13px;
}

#skipct .rv_stepBox li {
	float: left;
	height: 30px;
	line-height: 12px;
	margin-left: -2px;
	padding: 0 0 0 9px;
}

#skipct .rv_stepBox .step01_end {
	color: #5d6067;
	background: url("../img/bg_rvStep01_end.gif") no-repeat 0 0;
	width: 161px;
	padding: 0 0 0 18px;
	margin-left: -1px;
	font-weight: normal;
}

#skipct .rv_stepBox .step02_end {
	color: #5d6067;
	background: url("../img/bg_rvStep02_end.gif") no-repeat 0 0;
	width: 179px;
	padding: 0 0 0 18px;
	margin-left: -2px;
	font-weight: normal;
}

#skipct .rv_stepBox .step03_on {
	color: #5d6067;
	font-weight: bold;
	background: url("../img/bg_rvStep03_on.gif") no-repeat 0 0;
	width: 154px;
	padding: 0 0 0 43px;
}

#skipct .rv_stepBox .step04_off {
	color: #5d6067;
	font-weight: normal;
	background: url("../img/bg_rvStep04_off.gif") no-repeat 0 0;
	width: 188px;
}

#skipct .rv_stepBox .step05_off {
	color: #5d6067;
	font-weight: normal;
	background: url("../img/bg_rvStep05_off.gif") no-repeat 0 0;
	width: 188px;
	margin-left: -7px;
}

#skipct .helpOp {
	width: 956px;
	height: 22px;
	text-align: right;
	margin: 80px -231px 19px 0;
}

#skipct .helpOp .btnType06 {
	margin-top: 10px;
	width: 108px;
	height: 22px;
	background: url("../img/bg_btnLeft6.jpg") no-repeat 0 0;
	display: inline-block;
}

#skipct .helpOp .btnType06 a {
	padding-right: 41px;
	background: url("../img/bg_btnRight6.jpg") no-repeat right 0;
	padding: 0 35px 0 8px;
	display: block;
	height: 22px;
	line-height: 22px;
	color: #4c4c4c;
	font-size: 11px;
}

.itineraryBoxPs.fareBox {
	width: 725px;
	height: 100%;
}

.selectITbox3 {
	width: 725px;
	background: url("../img/bg_selectItineraryTopD2.gif") no-repeat 0 0;
	padding: 20px 0 0 0;
	margin: 0 0 10px 0;
}

.selectITbox3 .selectITinner3 {
	padding: 0 0 24px 0;
	width: 725px;
	height: 88px;
	background: #fff url("../img/bg_selectItineraryBottom.gif") no-repeat 0
		bottom;
}
.selectITbox3 {
	background: url("../img/bg_selectItineraryTop2.gif") no-repeat 0 0;
	padding: 5px 0 0 0;
	margin: 0 0 10px 0;
}

.selectITbox3 .selectITinner3 {
	background: #fff url("../img/bg_selectItineraryBottom.gif") no-repeat 0
		bottom;
	padding: 0 0 16px 0;
}

.selectITinner3 li.liType01.totalIntro {
	width: 287px;
	padding-left: 20px;
	background: none;
}

.selectITinner3 li.liType01 {
	float: left;
	font-size: 11px;
	padding: 14px 0 0 0;
	font-family: '돋움';
}

.selectITbox3 .selectITinner3 .sTitle {
	color: #581cb4;
}

.selectITbox3 .selectITinner3 li.liType01.totalIntro .tBoxD {
	margin: 9px 0 0 -1px;
	line-height: 19px;
}

.selectITbox3 .selectITinner3 li.liType01.totalIntro .tBoxD .start,.selectITbox3 .selectITinner3 li.liType01.totalIntro .tBoxD .end
	{
	float: left;
	min-width: 86px;
	font-size: 12px;
}

.selectITbox3 .selectITinner3 li.liType01.totalIntro .tBoxD strong {
	font-size: 16px;
	font-family: '돋움';
}

.selectITbox3 .selectITinner3 li.liType01.totalIntro .tBoxD .end.oneWay
{
	background: url("../img/bg_arrow5_1.gif") no-repeat 0 3px;
	padding: 0 0 0 33px;
}

.selectITbox3 .selectITinner3 li.liType01.selectStart {
	width: 144px;
	padding-left: 6px;
}

.selectITbox3 .selectITinner3 li.liType01 {
	float: left;
	background: url("../img/bg_line2.gif") no-repeat 0 0;
	font-size: 11px;
	font-family: '돋움';
}

.selectITbox3 .selectITinner3 .pType01 {
	line-height: 18px;
	margin: 6px 0 0 0;
	font-size: 12px;
	font-family: "굴림";
}
.notice_container {
	width: 725px;
	height: 173px;
	margin: 0 auto;
	background: url("../img/bg_noticeTop.gif") no-repeat 0 0;
	padding: 9px 0 0 0;
	margin: 0 auto;
}

.notice_container .notice_Inner {
	width: 725px;
	height: 167px;
	background: url("../img/bg_noticeBottom.gif") no-repeat 0 bottom;
	margin: 0;
	padding: 0 0 6px 0;
}

.notice_Inner .notice li {
	background: url("../img/bl_notice.gif") no-repeat 14px 3px;
	padding: 0 0 4px 39px;
	line-height: 21px;
	font-size: 12px;
}

.passengerBox {
	margin-top: 30px;
	position: relative;
}

.passengerBox .h4_type01 {
	text-align: left;
	background: url("../img/bl_hType01.gif") no-repeat scroll 0 center
		transparent;
	color: #581CB4;
	font-size: 14px;
	line-height: 17px;
	padding: 0 0 0 27px;
	margin: 0 0 16px 0;
	height: 17px;
}

.passengerInner {
	border-top: 1px solid #5c5f66;
	border-bottom: 1px solid #adafb2;
	margin: -1px 0 0 0;
	position: relative;
}

.passengerInner .sTitle {
	border-bottom: 1px solid #5C5F66;
	line-height: 33px;
	text-align: left;
	font-size: 13px;
	color: #581cb4;
	padding: 0 0 0 9px;
}

.passengerInner .passengerBody {
	background: url("../img/bg_tableBox.gif") repeat-y 0 0;
	position: relative;
	padding: 0 0 0 99px;
}

.passengerInner .passengerBody .entryBox .paragraph {
	border-bottom: 1px solid #d9d9d9;
}

.entryBox {
	width: 626px;
	height: 100px;
}

.passengerInner .passengerBody .entryBox .paragraph .text,.passengerInner .passengerBody .entryBox .paragraph .entry
	{
	float: left;
	padding: 5px 0;
	line-height: 23px;
}

.passengerInner .passengerBody .entryBox .paragraph .entry .text01 {
	height: 23px;
	padding: 0 0 0 3px;
	line-height: 23px;
	border: 1px solid #999;
}

.passengerInner .passengerBody .entryBox .paragraph .gap-2 {
	float: right;
	margin: -35px 140px 0 0;
}

.passengerInner .passengerCt {
	border-bottom: 1px solid #d9d9d9;
	height: 36px;
}

.passengerInner .passengerCt .text {
	float: left;
	width: 100px;
	padding: 10px 0 0 0;
}

.passengerInner .passengerCt .text strong {
	padding: 0 0 0 10px;
}

.passengerInner .passengerCt .entry {
	float: left;
	width: 620px;
}

.passengerInner .passengerCt .entry div {
	padding: 5px 0;
}

.passengerInner .passengerCt .entry div .text01 {
	border: 1px solid #999;
	line-height: 23px;
	height: 23px;
	color: #808080;
	padding: 0 0 0 3px;
}

.passengerInner .passengerCt.bB0 {
	border-bottom: none;
}

.passengerBox.mB11 {
	margin: 30px 0 11px 0;
}

.noticeList.mB26 {
	margin: 0 0 26px 0;
}

.noticeList li {
	background: url("../img/bl_ck.gif") no-repeat -1px 5px;
	color: #666;
	font-size: 11px;
	line-height: 18px;
	padding: 0 0 0 14px;
	font-family: '돋움';
}
.btnBoxType01 {
	height: 30px;
	margin-bottom: 20px;
}
.btnBoxType01 {
	height: 30px;
	margin-bottom: 20px;
}

.btnBoxType01 li {
	width: 48%;
	float: left;
}

.Sbtn_TType06_1 {
	background: url("../img/Sbtn_TTypeL06_1.gif") no-repeat 0 0;
	display: inline-block;
}

.Sbtn_TType06_1 a {
	background: url("../img/Sbtn_TTypeR06_1.gif") no-repeat right 0;
	padding: 0 11px 0 27px;
	display: block;
	height: 25px;
	line-height: 25px;
	color: #666;
	font-weight: bold;
}

.btnBoxType01 li.right {
	float: right;
	text-align: right;
}

.Bbtn_TType01_1 {
	background: url("../img/Bbtn_TTypeL01_1.gif") no-repeat 0 0;
	display: inline-block;
}

.Bbtn_TType01_1 a {
	background: url("../img/Bbtn_TTypeR01_1.gif") no-repeat right 0;
	padding: 0 41px 0 19px;
	display: block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
