@CHARSET "UTF-8";

.top5{
font-weight: bold;
background: #73706c;
color: #fff !important; 
}

.sub5{
display: block !important;
}

.sub5 .index1{
font-weight: bold;
}

.locationBox{
background: url(../images/bg_location.jpg) no-repeat center bottom;
}

.locationInner{
width: 956px;
height: 30px;
line-height: 32px;
margin: 0 auto;
}

.locationBox .locationInner ul li{
float: left;
color: #999;
font-size: 11px;
text-align: left center;
}

.locationBox .locationInner ul li a{
color: #333;
}

.locationInner span{
padding: 0 8px;
}

#containerBox{
background: url(../images/bg_body1_1.jpg) repeat-x center 0;
}

#containerBox #container{
width: 956px;
margin: 0 auto;
position: relative;
}

#skipCt{
min-height: 500px;
}

#containerBody{
margin-left: 195px;
padding: 27px 0 100px 50px;
min-height: 500px;
}

#containerBody .h3_type01{
font-size: 24px;
color: #010101;
margin: 3px 0 47px;
font-weight: normal;
}

#containerBody .contBold{
line-height: 24px;
font-size: 14px;
font-weight: bold;
margin: 42px 0 -7px;
padding: 0 0 1px;
}

.btn_personneList2{
text-align: left;
padding: 20px 0 0;
}

.btnType12{
background: url(../images/bg_btnLeft12.jpg) no-repeat;
display: inline-block;
}

.btnPadding{
margin-right: 10px;
}

.btnType12 a{
background: url(../images/bg_btnRight12.jpg) no-repeat right 0;
padding: 0 35px 0 8px;
display: block;
height: 25px;
line-height: 25px;
color: #4c4c4c;
font-size: 12px;
}