@CHARSET "UTF-8";

.locationBox{
background: url(../images/bg_location.jpg) no-repeat center bottom;
}

.locationInner{
width: 956px;
height: 30px;
line-height: 32px;
margin: 0 auto;
}

.locationInner ul li{
float: left;
font-size: 11px;
}

.locationInner span{
padding: 0 8px;
}

.locationInner ul li a{
color: #333;
}

.locationInner ul li{
color: #999;
}

.loginBox{
width: 100%;
height: 550px;
margin: 0 auto;
}

.hr{
border-bottom: 1px solid #D5D5D5;
margin-bottom: 90px;
}

#containerBody{
width: 956px;
height: 40px;
margin: 0 auto;
}

#containerBody h2{
margin-top: 20px;
font-size: 24px;
}

.errorBox{
background: url(../images/bg_errorBoxTop.gif) no-repeat;
padding-top: 14px;
width: 966px;
margin: 0 auto;
display: none;
}

.errorBox .errorInner{
background: url(../images/bg_errorBoxBottom.gif) no-repeat 0 bottom;
padding: 0 85px 23px 106px;
color: #333;
font-size: 11px;
}

.errorBox .errorInner .noticeBl{
background: url(../images/bg_noticeBlType01.png) no-repeat 0 6px;
padding: 0 0 2px 67px;
margin-left: -69px;
min-height: 52px;
}

.errorBox .errorInner .noticeBl p{
font-size: 13px;
line-height: 26px;
}

.loginAreaTop{
background: url(../images/bg_loginTopK.gif) no-repeat top left;
width: 580px;
margin: 0 auto;
padding: 10px 0 0;
}

.loginAreaTop .contentsLogin{
width: 570px;
background: url(../images/bg_loginBottomK.gif) no-repeat bottom left;
padding: 19px 1px 0;
min-width: 235px;
}

.contentsLogin .selType{
border-bottom: 1px solid #d9d9d9;
height: 27px;
}

.contentsLogin .selType li{
float: left;
display: inline-block;
padding: 0 10px 10px;
}

.contentsLogin .selType li label{
font-size: 13px;
color: #5e14cc;
font-weight: bold;
margin-left: 8px;
}

.contentsLogin .contType{
border-bottom: 1px solid #d9d9d9;
padding: 15px 21px;
min-height: 120px;
}

.contentsLogin .contType li ul{
margin: 0 -30px 15px 0;
height: 56px;
}

.contentsLogin .contType ul li{
float: left;
max-width: 210px;
line-height: 25px;
display: inline-block;
}

.contentsLogin .contType ul li label{
font-size: 13px;
color: #000;
font-weight: bold;
}

.contentsLogin .contType .inputfocus{
border: 1px solid #a6a6a6;
width: 193px;
height: 28px;
line-height: 28px;
padding: 0 3px;
color: #808080;
}

#btnLogin{
background: url(../images/btn_login.JPG);
width: 108px;
height: 30px;
margin-top: 25px;
}

.utillBtn{
padding: 11px 23px 11px;
display: inline-block;
margin: 0 auto;
margin-left: 60px;
}

.utillBtn li{
float: left;
padding-right: 50px;
}

.utillBtn .btnType02{
background: url(../images/bg_btnLeft2.jpg) no-repeat;
display: inline-block;
}

.btnType02 a{
background: url(../images/bg_btnRight2.jpg) no-repeat right 0;
padding: 0 29px 0 13px;
display: block;
height: 22px;
line-height: 22px;
color: #4c4c4c;
font-size: 11px;
}