@CHARSET "UTF-8";

.locationBox{
background: url(../images/bg_location.jpg) no-repeat center bottom;
}

.locationInner{
width: 956px;
height: 30px;
line-height: 32px;
margin: 0 auto;
}

.locationBox .locationInner ul li{
float: left;
color: #999;
font-size: 11px;
text-align: left center;
}

.locationBox .locationInner ul li a{
color: #333;
}

.locationInner span{
padding: 0 8px;
}

.loginBox{
background: url(../images/bg_body1_1.jpg) repeat-x center 0;
}

.loginBox .container{
background: url(../images/bg_body2.jpg) no-repeat 0 0;
width: 956px;
margin: 0 auto;
}

.loginBox .container .skipCt{
width: 957px;
min-height: 570px;
}

.loginBox .container .skipCt #containerBody{
padding: 29px 40px 50px 0;
width: 956px;
}

#containerBody .h3_type02{
color: #010101;
margin-bottom: 44px;
font-size: 24px;
}

.topBtnArea{
text-align: right;
margin: -65px 0 44px;
}

.loginBox .btnKtype01{
border-bottom: 1px solid #b2b2b2;
}

.loginBox .btnKtype01 a{
background: url(../images/bgK_selectRight19.gif) no-repeat right;
font-size: 14px;
font-weight: bold;
padding-right: 21px;
line-height: 20px;
height: 20px;
color: black;
}

.accInnerBox{
background: url(../images/bgK_loginAccInnerBoxTop.gif) no-repeat left top;
width: 439px;
margin: 0 auto;
}

.boxInner{
background: url(../images/bgK_loginAccInnerBoxBot.gif) no-repeat bottom left;
padding: 27px 26px;
color: #656565;
line-height: 18px;
font-size: 11px;
}

.boxInner .h4_type01{
background: url(../images/bl_hType01.gif) no-repeat 0 2px;
color: #5e14cc;
font-size: 14px;
padding: 0 9px 3px 28px;
display: inline-block;
line-height: 22px;
margin: -2px 0 10px 0;
}

.SearchBox{
border-collapse: collapse;
border-top: 1px solid #5c5f66;
border-bottom: 1px solid #adafb2;
}

.SearchBox td{
padding-left: 10px;
font-size: 12px;
}

.SearchBox td:FIRST-CHILD{
font-weight: bold;
width: 123px;
height:37px;
background: #f3f3f3;
border-bottom: 1px solid #d9d9d9;
}

.SearchBox td:LAST-CHILD{
width: 250px;
border-bottom: 1px solid #d9d9d9;
}

.btn_personneList2{
text-align: right;
padding-top: 10px;
}

.btnType12{
background: url(../images/bg_btnLeft12.jpg) no-repeat;
display: inline-block;
}

.btnPadding{
margin-right: 10px;
}

.btnType12 a{
background: url(../images/bg_btnRight12.jpg) no-repeat right 0;
padding: 0 35px 0 8px;
display: block;
height: 25px;
line-height: 25px;
color: #4c4c4c;
font-size: 12px;
}